<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">
<% if (userID) { %>
    <header>
        <% include _header %>
    </header>
    <main>
      <h2>Welcome to TinyApp Url Shorning Service!</h2>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Short URL</th>
            <th>Long URL</th>
            <th>Edit URL</th>
            <th>Delete URL</th>
            <th>Date Created</th>
            <th>Visits</th>
            <th>Unique Visits</th>
          </tr>
        </thead>
        <% for (var shortUrl in urlDatabase) {
          var longUrl = urlDatabase[shortUrl];
        %>
        <tr>
          <td><a href="/urls/<%= shortUrl %>"><%= shortUrl %></a></td>
          <td><a href="<%= longUrl %>"><%= longUrl %></a></td>
          <td>
            <a href="/urls/<%= shortUrl %>" class="btn btn-warning btn-sm"> Edit </a>
          </td>
          <td>
            <form  method="post" action="/urls/<%= shortUrl %>/delete">
                <button type="submit" value="deleteKey" class="btn btn-warning btn-sm">Delete</button>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% }; %>
      </table>
        <div class="jumbotron">
            <h2>This is great</h2>
            <p>Welcome to my Tiny App!</p>
        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>
  <% }; %>
</body>
</html>
