<%- include partials/_head %>
<%- include partials/_header %>

  <body>
    <div class="container">

      <div class="row">
        <div class="text-center center-block">
          <h1 class="user">Hello, I'm TinyApp.</h1>


          <div class="url-box center-block">

            <% for (item in urls) { %>
              <ul class="url-indv">
                <form action="/urls/<%= item %>" method="GET">
                  <button class="btn" id="edit" >EDIT</button>
                </form>
                <form action="/urls/<%= item %>/delete" method="POST">
                  <button class="btn" id="delete">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
                </form>
                <a class="url-links" href="/urls/<%= item%>">
                  <strong><%= item %> </strong>
                  <span class="glyphicon glyphicon-flash" style="color:#ff3333" aria-hidden="true"></span>
                  <%= urls[item] %>
                </a>
              </ul>
            <% } %>
          </div>

          <form action="/urls/new" method="GET">
            <button class="btn btn-lg custom-button" id="create-new-url">
              &nbsp;
              GENERATE LINK
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
          </form>


        </div>
      </div>

    </div><!-- /.container -->


<%- include partials/_footer %>
