<%- include partials/_head %>
<%- include partials/_header %>

  <body>
    <div class="container">

      <div class="row">
        <div class="text-center center-block">

       <h1 class="update-url-title">Update your URL.</h1>

       <div class="url-box center-block">

          <ul class="url-indv">

            <form action="/urls/<%= shortURL %>/delete" method="POST">
              <button class="btn" id="delete">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </form>

            <a class="url-links" href="/urls/<%= shortURL%>">
              <strong><%= shortURL %></strong>
              <span class="glyphicon glyphicon-flash" style="color:#ff3333" aria-hidden="true"></span>
              <%= longURL %>
            </a>

          </ul>
        </div>

        <form action="/urls/<%= shortURL %>" method="POST" class="form-inline">
          <div class="form-group">

            <input type="text" name="longURL" value="<%= longURL %>" class="form-control" id="update-form">

            <input type="submit" value="UPDATE" class="btn btn-lg custom-button" id="update-submit-button">
          </div>
        </form>

        <a href="/urls/new">
          <button class="btn btn-lg custom-button" id="create-new-url">
              &nbsp;
              ADD ANOTHER URL
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </a>

      </div>
    </div>

  </div><!-- /.container -->

<%- include partials/_footer %>
